<div class="auth-container">
    <div class="auth-image">

        
        <a href=""><img src="img/img-barramenu/logo-portal.png" alt="Tela" class="img-login" style="width: 200px;">  </a>
        <div class="login-text">
            <p>
            Um espaço dedicado a você!
            </p>
        </div>
        
       
    </div>
    
    <div class="auth-form">
        <form action="/login" method="POST">
            <div class="form-control2">
                 <h2>Entrar</h2>
                <label for="matricula">Matricula:</label>
                <input type="text" name="matricula" placeholder="Digite sua  matricula">
            </div>
            <div class="form-control2">
                <label for="password">Senha:</label>
                <input type="password" name="password" placeholder="Digite a sua senha:">
            </div>
            <div class="buton2">
                <input type="submit" value="Entrar">
            </div>
            <div class="contlogin">
                
            </div>
        </form>
    </div>
</div>


