<div class="auth-container">
    <div class="auth-image">

        
        <a href=""><img src="img/img-barramenu/logo-portal.png" alt="Tela" class="img-login" style="width: 200px;">  </a>
        <div class="login-text">
            <p>
            Um espaço dedicado a você!
            </p>
        </div>
        
       
    </div>
    
    <form action="/register" method="POST">
        <div  class="form-control2">
            <h2>Registrar</h2>
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digete o seu nome" required>
        </div>

         <div class="form-control2">
            <label for="matricula">Matricula:</label>
            <input type="text" name="matricula" placeholder="Digite o sua matricula" required>
        </div>

        <div class="form-control2">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a sua senha" required>
        </div>

         <div class="form-control2">
            <label for="confirmpassword">Confirmação de senha:</label>
            <input type="password" name="confirmpassword" placeholder="Confirme sua senha" required>
        </div>  
    <div class="buton2">
                <input type="submit" value="Registrar">
            </div>

    <div class="contlogin">
    <p>Já tem conta?  <a href="/login"> Clique aqui!</a></p>
    </div>
    

    </form>

   
</div>