<!-- CARROSEL PRINCIPAL DE INFORMAÇÕES -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
	
	<ol class="carousel-indicators">
									
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		
	</ol>

	 
	  
	<div class="carousel-inner">
		
		
	  <div class="carousel-item active">
		
		<img class="d-block w-100" src="img/img-carrosel/1 CARROSEL.png"  style="margin-top: 80px;" alt="Primeiro Slide">
		
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100" src="img/img-carrosel/2 CARROSEL.png"  style="margin-top: 80px;" alt="Segundo Slide">
		
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100" src="img/img-carrosel/3 CARROSEL.png"  style="margin-top: 80px;" alt="Terceiro Slide">
		
		
	  </div>
	  
	</div>
	<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="sr-only">Anterior</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
	  <span class="carousel-control-next-icon"   aria-hidden="true"></span>
	  <span class="sr-only">Próximo</span>
	</a>
  </div>

<!-- FIM  CARROSEL PRINCIPAL DE INFORMAÇÕES -->


<!-- BOTÕES MEIO DO SITE -->

		
	<div class="wrapper">
		<div>
			<a href="/" class="btn btn-light btn-custom  " style=" margin-top: 1px; border-color: rgba(255, 255, 255, 0) ;" >
				<i class="bi bi-buildings"></i>
				Empresa

			</a>
		</div>
		<div>
			<a href="/" class="btn btn-light btn-custom  " style="  margin-top: 1px; border-color: rgba(255, 255, 255, 0); " >
				<i class="bi bi-chat-left-text"></i>
				Blog

			</a>
		</div>
		<div>
			<a href="/" class="btn btn-light btn-custom  " style="  margin-top: 1px; border-color: rgba(255, 255, 255, 0); " >
				<i class="bi bi-calendar2-week"></i>
				Calendário

			</a>
		</div>
		<div>
			<a href="/" class="btn btn-light btn-custom  " style="  margin-top: 1px; border-color: rgba(255, 255, 255, 0); " >
				<i class="bi bi-graph-up-arrow"></i>
				Treinamento

			</a>
		</div>
	</div>

	<!-- FIM DOS BOTÕES MEIO DO SITE -->



    <!-- GRADE PRINCIPAL DE CONTEUDO DO SITE -->

	<div class="grid-container">
	

		
		<a href="#"><img  class="img-2" src="img/GAME-2.png" alt=""></a>
		<a href="#"><img class="img-3" src="/img/CLUB-DOS-VETERANOS-3.png" alt=""></a>
		<a href="#"><img class="img-3" src="/img/CLUB-DOS-VETERANOS-3.png" alt=""></a>
		<a href="#"><img class="img-3" src="/img/CLUB-DOS-VETERANOS-3.png" alt=""></a>
		
		
	
		
		

	</div>



<script src="toughts/home.handlebars"></script>
	<script src="layouts/main.handlebars"></script>
	<script src="scripts/script.js"></script>

	
	


	<!-- FIM GRADE PRINCIPAL DE CONTEUDO DO SITE -->